extends layout

block content
  section#hero
    img(src='images/Karve-logo-horizontal-black.png', alt='Karve Logo')
    h1 Connect with Your Colleagues at Karve IT
    p Discover and share information about your teammates. Enhance collaboration, knowledge, and camaraderie.
    a(href='/people', class='btn') Find People

  section#about
    h2 About KarveConnect
    p KarveConnect serves as an interactive directory for Karve IT employees. It's a platform where you can find detailed profiles of your colleagues...

  section#how-it-works
    h2 How It Works
    .step-container
      .step
        .step-icon
          // Icon or image for Step 1
        .step-info
          h3 Step 1: Search for a Colleague
          p Enter the name or details of a colleague in the search bar to find their profile.
      .step
        .step-icon
          // Icon or image for Step 2
        .step-info
          h3 Step 2: Explore Profiles
          p View detailed profiles including job history, interests, and more.
      .step
        .step-icon
          // Icon or image for Step 3
        .step-info
          h3 Step 3: Add/Edit Information
          p Contribute by adding or updating information to keep profiles enriched and current.


  section#features
    h2 Features Highlight
    .features-container
      .feature-item
        .feature-icon
          // Icon for Feature 1
        .feature-info
          h3 Profile Browsing
          p Explore the detailed profiles of colleagues, including their professional background, skills, and interests.
      .feature-item
        .feature-icon
          // Icon for Feature 2
        .feature-info
          h3 Information Sharing
          p Share updates and insights about your professional journey, contributing to a rich, collaborative community.
      .feature-item
        .feature-icon
          // Icon for Feature 3
        .feature-info
          h3 Collaborative Editing
          p Enhance the quality of information by adding or editing details, ensuring accurate and up-to-date profiles.
      .feature-item
        .feature-icon
          // Icon for Feature 4
        .feature-info
          h3 Seamless Connectivity
          p Connect easily with colleagues, fostering better collaboration and community within Karve IT.


  section#testimonials
    h2 Testimonials
    .testimonials-container
      .testimonial-item
        .testimonial-text
          p "KarveConnect has revolutionized the way we interact and collaborate within our company. It's not just a tool; it's become a part of our daily work life, enhancing our team dynamics in ways I couldn't have imagined."
        .testimonial-author
          p Jared Kozak
          span CEO
      .testimonial-item
        .testimonial-text
          p "As a developer, I appreciate the simplicity and efficiency of KarveConnect. It's been a game-changer in how we share knowledge and insights about our projects. It has certainly fostered a culture of open communication and teamwork."
        .testimonial-author
          p Arturo Javier
          span Senior Software Developer


