doctype html
html(lang='en')
  head

    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    title= title
    link(rel='stylesheet', href='/stylesheets/layout.css')
    block additionalStyles

  body
    main
      block content
    footer
      p © 2024 Karve IT. All rights reserved.