
h1 {
    color: #0097A7;
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin-bottom: 8px;
}

/* Style the person's details */
.person-details {
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 20px;
    background-color: #fff;
}

.back-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0097A7;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
    font-weight: bold;
}

.back-link:hover {
    background-color: #007d8c;
}
.edit-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0097A7;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
}

.edit-button:hover {
    background-color: #007d8c;
}